// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.nationality_anchor {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}
