/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

// import theme variables
@import "_variables.scss";
// import customisatons to theme
@import "_bootstrap_custom.scss";

// @import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "calendar";
@import "about";
@import "responsive_table";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
}

.bg-md-header {       
  @include media-breakpoint-down(sm) { 
    background:$headerGreen;
  }
}

#navtabs {
    .active {
      .nav-link {
        border-bottom-color: $primary;
        font-weight: bold;
      }
    }
    .nav-link{
      &:hover {
        border-color: $primary;
      }
    }
}

.justify-right{
  justify-content: right;
}

.table-danger {
  color: $gray-900;
}

.facebook-buttons {
  > div{
    margin-left: 4px;
    display: inline-block;
  }
}

body {
  padding-top: 0px;
  margin-bottom: 60px;
}
.form-btn {
  min-width: 100px;
}
.col-form-label {
  font-weight: bold;
}

.center-heading{
  text-align: center;
}
.table-top-header {
  border: 1px;
  border-style: solid;

}
.current-setting{
  margin: 0px;
  min-width: 100px;
}

.panel-title{
  font-size: 24px;
}

.modify-col {
  width: 100px;
}

// bootstrap fix padding for input form elements
input.form-control {
  padding: 1rem;
}

.date-form-group>select{
  width: auto;
  display: inline;
}

.ad-block {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ad-block-limit{
  max-width: 800px;
}
.amazon {
  .amazon-item{
    margin-bottom: 10px;
  }
}

.banner-image {
  width:100%;
  height: 150px; 
  object-fit: cover;
  object-position: 25% 55%;
  margin-bottom: 1em;
  margin-top: 1em; 
}
