.panel.panel-default
  .panel-heading
    %h3{:class => "panel-title"}
      Edit a Travel Record
  .panel-body
    = render 'form'
  .panel-footer
    = link_to 'Back', visits_path
  .row
    .col-sm-12
      -if @advertise_country
        = raw @advertise_country.affiliate_booking_html
