:plain
  // Visa was successfully created
  $('#visaModal').modal('hide');
  
  // Show success message
  var message = '<div class="alert alert-success alert-dismissible fade show" role="alert">Visa was successfully created.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
  $('body').prepend(message);
  
  // Reload page to refresh list
  setTimeout(function() {
    location.reload();
  }, 500);
