:plain
  // Load the form into the modal
  $('#visaModal .modal-body').html('#{j render("form")}');
  $('#visaModal .modal-title').text('#{t("visas.edit_title")}');
  $('#visaModal').modal('show');

  // Handle form submission via AJAX
  $('#visaModal form').on('ajax:success', function(event) {
    // Reload the page to refresh the list
    location.reload();
  }).on('ajax:error', function(event) {
    // Error handling will be done by update.js.haml
  });
