.card
  .card-body
    %h3{:class => "card-title"}
      Add a Visa
    = render 'form'
  .card-footer
    = link_to t('common.back'), visits_path(locale: I18n.locale)

.row
  .col-sm-12
    %script{:async => "", :crossorigin => "anonymous", :src => "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8290979932488448"}
    / Schengen
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-8290979932488448", "data-ad-format" => "auto", "data-ad-slot" => "3629950616", :style => "display:block"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
