# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 34879aaf9f92249a2ef49e72aa95cfd498c3582c86dd553b4c64d065078b429bef749aebad60576ed0ce55dd966245fba856a06d065a7de65ab36f12c1a0eff6
  facebook_id: 'id'
  facebook_secret: 'secret'
  aws_access_key_id: 'id'
  aws_secret_key: 'secret'

test:
  secret_key_base: 276afa2b9cc7b3813437272be68350dc609a2e1dea238e3a09af523aff6f502bc0a2e0777a2cb8615d3daac84080276ea297f8c06c85ec8a562a865ac107b282
  facebook_id: 'id'
  facebook_secret: 'secret'
  aws_access_key_id: 'id'
  aws_secret_key: 'secret'

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  facebook_id:  <%= ENV["FACEBOOK_ID"] %>
  facebook_secret: <%= ENV["FACEBOOK_SECRET"] %>
  brevo_login: <%= ENV["BREVO_LOGIN"] %>
  brevo_password: <%= ENV["BREVO_password"] %>

