.card
  .card-body
    %h3{ class: "card-title"}
      Edit a Travel Record
    = render 'form'
  .card-footer
    = link_to 'Back', visits_path(locale: I18n.locale)
  .row
    .col-sm-12
      -if @advertise_country
        = raw @advertise_country.affiliate_booking_html

