.card
  .card-header
    %h3{:class => "panel-title"}
      Edit a Travel Record
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back', visits_path
  .row
    .col-sm-12
      -if @advertise_country
        = raw @advertise_country.affiliate_booking_html

