.panel.panel-default
  .panel-heading
    %h3{:class => "panel-title"}
      Add a Travel Record
  .panel-body
    = render 'form'
  .panel-footer
    = link_to 'Back', visits_path
  .row
    .col-sm-12
      %ins.adsbygoogle{"data-ad-client" => "ca-pub-8290979932488448", "data-ad-format" => "auto", "data-ad-slot" => "1244668618", :style => "display:block"}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});
