.card
  .card-body
    %h3{:class => "card-title"}
      = t('visit.add_record')
    = render 'form'
  .card-footer
    = link_to t('common.back'), visits_path(locale: I18n.locale)
  .row
    .col-sm-12
      %ins.adsbygoogle{"data-ad-client" => "ca-pub-8290979932488448", "data-ad-format" => "auto", "data-ad-slot" => "1244668618", :style => "display:block"}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});
