.row
  .col-md-12{role: "main"}
    .about-section
      %h2= t('about.disclaimer.disclaimer_title')
      %p= t('about.disclaimer.disclaimer_content_1')
      %p= t('about.disclaimer.disclaimer_content_2')
      %p= t('about.disclaimer.disclaimer_content_3')
