.row
  .col-md-12{role: "main"}
    .about-section
      %h1
        Website / Schengen Calculator Disclaimer
      %p
        The information contained in this website and provided by the Schengen Calculator is for general information purposes only. While we endeavor to keep the information up to date and correct, and the visa calculations correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
      %p
        In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.
      %p
        Through this website, you are able to link to other websites that are not under the control of Schengen Calculator. We have no control over the nature, content, and availability of those sites. The inclusion of any links does
