- if flash[:notice]
  .alert.alert-success.alert-dismissible.fade.show{role: "alert", id: "success"}
    = flash[:notice]
    %button.btn.btn-sm.py-0.close{"type" => "button", "data-dismiss" => "alert", "aria-label" => "Close"}
      %span{"aria-hidden" => "true"} &times;

- if flash[:alert]
  .alert.alert-warning.alert-dismissible.fade.show{role: "alert", id: "notice"}
    = flash[:alert]
    %button.btn.btn-sm.py-0.close{"type" => "button", "data-dismiss" => "alert", "aria-label" => "Close"}
      %span{"aria-hidden" => "true"} &times;
