.row
  .col-md-9
    .about-section
      %h1
        About Schengen Calculator
      %h2
        Introduction
      %p
        The Schengen Calculator works out based on your nationality, and length of stays in the Schengen Area countries, how long you are able to stay on a short term Schengen visa. It is good for planning travel in Europe that will likely exceed 90 days by travelling in and out of the Schengen area strategically to maximise your experience. If you are travelling between countries often it can be difficult to track how long you have spent in the Schengen Zone, and when you are able to return after spending time outside. The Schengen Calculator takes into account both the old and new methods of calculating the length of stay allowed, and will tell you will if you need to apply for a Visa before entry.  Just enter your nationality, and your travel and planned travel into the calculator, and it work out the rest.
      %h2
        Definitions
      %h3
        Visits/Travel Record
      %p  
        %span
          Entry Date:
        The Day you Entry the Country
      %p  
        %span
          Exit Date:
        The Day you Exit the Country
      %p  
        %span
          Country:
        The Country you are visiting
      %p  
        %span
          Schengen Area:
          Yes = In the Schengen Area, No = Not in the Schengen Area
      %p  
        %span
          Days Remaining:
        The number of days remaining of the 90 days allowed in the Schengen Zone
      %p  
        %span
          Days Over Stay:
        Number of days OVER the 90 days allowed in the Schengen Area
      %p
        %span
          Visa: 
        This relates only to a Single/Multi Short Stay Schengen Visa only people who require a Visa prior to entry.
      %p
        %span
          No Entries: 
        Number of times you have entered / re-entered the Schengen Area. (not moving from on Schengen country to another is no considered a re-entry, however if there is more than one day between exiting a country Schengen Country and entering the next the calculator will assume you have exited the Schengen Area and will count it as a re-entry.
      %p
        %span
          Visa Days Over Stay:
        The number of days in the Schengen Zone without permission on your visa. Either you have not entered a visa, you exited after the end date of the visa, or you entered the Schengen zone more times that was allowed on the Visa.

