/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 //variables
//colours
  $header-main:#222;
  $header-highlight: #337ab7;

//customises bootstrap variables
$navbar-height:  70px;


@import "bootstrap-sprockets";
@import "bootstrap";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

body {
  padding-top: 110px;
  margin-bottom: 60px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

// text helpers
.center-heading{
  text-align: center;
}
.table-top-header {
  border: 1px;
  border-style: solid;

}

.site-nav{
  border-bottom: 0px;

  li>a.navbar-link{
    background-color: $header-highlight;
    color:$header-main;

    &:hover{
      background-color: white;
      color: $header-highlight;
    }
  }

}
.nav-pills{
  a.log-in-link{
    background-color:  $header-highlight;
    color: $header-main;
  }
  &:hover{
      background-color: white;
      color: $header-highlight;
    }
}

