%footer.footer
  .container.text-center
    %p
      %span.glyphicon.glyphicon-copyright-mark{":aria-hidden" => "true"}
      Schengen Calculator
    %p
      =link_to 'Disclaimer', disclaimer_path
%script{:type => "application/ld+json"}
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://www.schengen-calculator.com",
  "logo": "http://www.schengen-calculator.com/med.png"
  }
%script
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67599800-1', 'auto');
  ga('set', 'userId', #{current_user_or_guest_user.id}); 
  / ga('create', 'UA-67599800-1', { 'userId': #{current_user.id} })
  ga('send', 'pageview');



